.silderPage{
    display: flex;
    background-color:transparent;
    height: 210px;
    width: 100%;
    position: relative;
    .pageBack{
        min-width: calc(100% / 3);
        background:transparent;
        height: 100%;
        padding:15px 0px;
        transition: all 1s;
         &>.page{
            display: block;
    background-color: yellow;
    width:100%;
    height:100%;
 background-repeat: no-repeat;
 background-position:center;
 border-radius: 15px;
 background-size:cover;
        }
    }
   
     &>.navigate{
 &:hover{
   opacity:0.9;
   cursor: pointer; 
 }
     }
  
}



