<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">

            <div class="nav-left"></div>

            
            <div class="main">
                <div class="header"></div>
                <div class="banner"></div>
                <div class="new-release"></div>
                <div class="your-choice"></div>


                <div class="favorite-artist">
                   
                </div>



                <div class="zing-chart"></div>
                <div class="artists"></div>
                <div class="top-100"></div>
                <div class="new-music"></div>
                <div class="CORNER"></div>
                <div class="Radio"></div>
                <div class="event"></div>


                <div class="footer">
                    <div class="footer-container">
                        <div class="footer-content">
                            ĐỐI TÁC ÂM NHẠC
                        </div>
                        <div class="footer-doitacs">
                            <div class="footer-doitac">ảnh 1</div>
                            <div class="footer-doitac">ảnh 2</div>
                            <div class="footer-doitac">ảnh 3</div>
                            <div class="footer-doitac">ảnh 4</div>
                            <div class="footer-doitac">ảnh 5</div>
                            <div class="footer-doitac">ảnh 6</div>
                            <div class="footer-doitac">ảnh 7</div>
                            <div class="footer-doitac">ảnh 8</div>
                            <div class="footer-doitac">ảnh 9</div>
                            <div class="footer-doitac">ảnh 10</div>
                        </div>
                    </div>
                </div>


            </div>
              
              
        </div>
    </body>
</html>
