*{
  font-family: 'Roboto', sans-serif;
}
html{
  height: 100%;
overflow: hidden;
}
html::-webkit-scrollbar-thumb{
  background-color:green;
  border-radius: 2px;
}
html::-webkit-scrollbar{
  background-color:red;
  width: 5px;
}
#root{
  height:100%;

}
.App {
  text-align: center;
min-width:720px;
}
body{
  height:100% ;
}
body .App{
  height:100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.growUpResult::before{
  transform: translate(-21px,-15px);
    font-size: 25px;
}

.fa-chart-line-up::after{
  display:none;
}
.AppBackground {
  height: calc(100% - 88px);
}