*{
  font-family: 'Roboto', sans-serif;
}
html{
  height: 100%;
overflow: hidden;
}

#root{
  height:100%;

}
.App {
  text-align: center;
min-width:720px;
}
body{
  height:100% ;
}
body .App{
  height:100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.growUpResult::before{
  transform: translate(-21px,-15px);
    font-size: 25px;
}

.fa-chart-line-up::after{
  display:none;
}
.AppBackground {
  height: calc(100% - 88px);
}


.swiper-wrapper{
  position: absolute !important;
}
.swiper-button-prev,
.swiper-button-next{
  
  display: none !important;
  position: absolute;
  background-color: hsl(0deg 0% 100% / 10%);
  width:50px !important;
  height:50px !important;
  font-weight: 500;
  
box-shadow: 1px 1px 2px 1px rgba(0,0,0.0.5) !important;
justify-content: center;
align-items: center;
border-radius: 50%;
}
.swiper-button-prev::after{
  --editPosition:1.5px;
}
.swiper-button-prev::after{
  --editPosition:-1.5px;

}
.swiper-button-prev::after,
.swiper-button-next::after{
  color:white;
  font-size: 17px !important;
  font-weight: 600;
  transform: translateX(var(--editPosition));
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next{
display:flex !important;
}

.swiper-button-prev:active,
.swiper-button-next:active{
  opacity:0.9;
}
.swiper-scrollbar{
  position: absolute;
  bottom:0;
 }
 .swiper-scrollbar-drag{
  background-color: rgba(255,255,255,0.3) !important;
cursor: pointer; 
}
.swiper{
  height: auto;
  min-height: 227px;
  margin-top: -38px;
  margin-top:-10px;
}
.swiper-slide{
  display: flex;
  align-items: center;
}
img{
  display: inline-block;
}
