body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import './styles/navleft.scss';
@import './styles/navright.scss';
@import './styles/content.scss';
@import './styles/playingbar.scss';
@import './styles/responsive.scss';
@import './styles/responsive.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;